body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#ECDFCC;
    --dark-color:#1E201E;

}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: auto;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 20px;
}

.bg-white {
    background-color: white;
}

.nav-links a {
    background-color: var(--dark-color);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}