body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 200px;
    height: auto;
}

:root {
    --primary-color:#00c9fc;
    --dark-color:#1E201E;

}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap:10px;
}

.gap-20 {
    gap: 20px;
}

.bg-white {
    background-color: white;
}

.nav-links a {
    background-color: var(--dark-color);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.card {
    background-color: white;
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card img {
    width: 90px;
    height: 100px;
}

.card button {
    width: 200px;
    color: white;
    background-color: black;
    padding: 10px;
    text-transform: uppercase;
}

.products
{   
    display: flex;
    width:100vw;
    grid-template-columns: repeat(auto-fit,minmax(150px,200px)); 
    justify-content: space-evenly;
}